doctype html
html
    head
        title Natours #{tour}
        link(rel="stylesheet", href="css/style.css")
        link(rel='shortcut icon', type='image/png', href='img/favicon.png')
    body
        h1=tour 
        h1=user.toUpperCase()
        - const a = 8;
        h2=a
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum illo, blanditiis consequuntur molestias a quidem dignissimos numquam deserunt delectus dolor ullam ipsam nisi cupiditate iure molestiae sint officia repellat at!